# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.whl

# Virtual environment
venv/
.venv/
env/
ENV/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Model file (can be regenerated)
model/model.pkl


# Logs
*.log